<main class="grid-template-layout relative">
  <a routerLink="/" class="return-link">Retour</a>

  <form (ngSubmit)="onSubmit()">
    <h2>Se connecter</h2>

    <div>
      <label for="emailOrName">{{ labels['emailOrName'] }}</label>
      <input id="emailOrName" type="text" [formControl]="formControls['emailOrName']" (blur)="onBlur('emailOrName')">
      <span *ngIf="formControls['emailOrName'].invalid && formControls['emailOrName'].touched">
        {{ errorMessages['emailOrName'] }}
      </span>
    </div>

    <div>
      <label for="password">{{ labels['password'] }}</label>
      <input id="password" type="password" [formControl]="formControls['password']" (blur)="onBlur('password')">
      <span *ngIf="formControls['password'].invalid && formControls['password'].touched">
        {{ errorMessages['password'] }}
      </span>
    </div>

    <button type="submit" [disabled]="formControls['emailOrName'].invalid || formControls['password'].invalid" mat-raised-button color="primary">Se connecter</button>
  </form>
</main>
  