div {
  display: grid;
  justify-content: center;
  align-items: center;
  padding-top: 10vh;
  padding-inline: 1rem;
  margin: auto;
}
  
a {
  margin: 1rem;
  margin: 1 auto;
  width: 40%;
}

img {
  max-width : 100%;
  height : auto;
}
