@media (width < 599px){
  mat-sidenav-content.main{
    height: var(--content-mobile-height);
  }
  .auto-grid {
    display: grid;
    grid-template-columns: repeat(1, minmax(200px, 1fr)); 
    text-align: right;
  }
}

.avatar {
  color: var(--gray-200);
  background-color: transparent;
  border-radius: 50%;
}

a.active {
  color: var(--accent-color);
  & > .avatar {
    background-color: var(--accent-color);
  }
}

a[routerLinkActive="active"]:hover {
  opacity: 75%;
  color: var(--accent-color);
  & > .avatar {
    background-color: var(--accent-color);
  }
}

main {
  display: grid;
  text-align: center;
}