<main>
      <h2>Profil utilisateur</h2>
  
      <form (ngSubmit)="onSubmit()">
        <div>
          <label for="name">{{ labels['name'] }}</label>
          <input id="name" type="text" [formControl]="formControls['name']" (blur)="onBlur('name')">
          <span *ngIf="formControls['name'].invalid && formControls['name'].touched">
            {{ errorMessages['name'] }}
          </span>
        </div>
  
        <div>
          <label for="email">{{ labels['email'] }}</label>
          <input id="email" type="email" [formControl]="formControls['email']" (blur)="onBlur('email')">
          <span *ngIf="formControls['email'].invalid && formControls['email'].touched">
            {{ errorMessages['email'] }}
          </span>
        </div>
  
        <button type="submit" [disabled]="formControls['email'].invalid || formControls['name'].invalid">Sauvegarder</button>
      </form>
      <div class="flex">
        <button type="button" (click)="onLogout()">Se déconnecter</button>
      </div>
</main>
  