@use '@angular/material/index' as mat;

@include mat.core();

// Available color palettes: https://material.io/design/color/
$mdd-primary: mat.m2-define-palette(mat.$m2-indigo-palette);
$mdd-accent: mat.m2-define-palette(mat.$m2-pink-palette, A200, A100, A400);
$mdd-warn: mat.m2-define-palette(mat.$m2-red-palette);

$mdd-theme: mat.m2-define-light-theme((
  color: (
    primary: $mdd-primary,
    accent: $mdd-accent,
    warn: $mdd-warn,
  )
));

@include mat.all-component-themes($mdd-theme);

html, body { height: 100% }

button { font-weight: bold !important }